<div>

    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">

        <div class="my-auto">

            <h1 class="mb-0 title" v-html="title" />

            <div class="subheading mb-5">
                <span v-text="about.address" />
                <span v-html="link_email" />
                <span>(aka {{ about.pseudo }})</span>
            </div>

            <p class="lead mb-5" v-text="about.intro"></p>

            <div class="social-icons">
                <a v-for="(social, index) in socials" :href="social.url" :title="social.title" :key="index">
                    <i :class="social.icon"></i>
                </a>
            </div>

        </div>

    </section>

    <hr class="m-0">

</div>
