.CSS {
  /*background-color: #f9eeea;*/
}
.JavaScript {
  /*background-color: #fdf9f7;*/
}
.PHP {
  /*background-color: #f5e4dd;*/
}
.Filters {
  padding: 25px 0 25px;
}
.button-group {
  padding-bottom: 25px;
}
.icon {
  min-width: 30px;
  padding-right: 12px;
}
